.stack-pane {
  -fx-background-color: rgba(0,0,0,0.5);
}

.vbox {
  -fx-spacing: 15;
  -fx-padding: 20;
  -fx-max-width: 500px;
}

.button-folder {
  -fx-background-color: #1976d2;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-pref-width: 50px;
}

.button-save {
  -fx-background-color: #1976d2;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-pref-width: 130px;
}

.text-field {
  -fx-border-color: #1976d2;
  -fx-border-radius: 5;
}