.root {
  -fx-font-family: "Inter", sans-serif !important;
  -fx-background-color: white;
}

.header-container {
  -fx-background-color: #A31D24;
  /*-fx-background-radius: 10px 10px 0 0;*/
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 2);
}

.header-title {
  -fx-text-fill: white;
  -fx-font-size: 24px;
  -fx-font-weight: bold;
}

.header-device-name {
  -fx-text-fill: white;
  -fx-font-size: 24px;
  -fx-font-weight: bold;
}

/*.status-online-dot {
  -fx-text-fill: #34C759;
  -fx-font-size: 18px;
}*/

.status-online-text {
  -fx-text-fill: white;
  -fx-font-size: 16px;
}

/*.status-offline-dot {
  -fx-text-fill: #8E8E93;
  -fx-font-size: 18px;
}*/

.status-dot-user {
  -fx-min-width: 12px;
  -fx-min-height: 12px;
  -fx-max-width: 12px;
  -fx-max-height: 12px;
  -fx-pref-width: 12px;
  -fx-pref-height: 12px;

  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
}

.status-dot-device {
  -fx-min-width: 14px;
  -fx-min-height: 14px;
  -fx-max-width: 14px;
  -fx-max-height: 14px;
  -fx-pref-width: 14px;
  -fx-pref-height: 14px;

  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
}

.status-online {
  -fx-background-color: #34C759;
}

.status-offline {
  -fx-background-color: #8E8E93;
}

.sidebar-container {
  -fx-border-width: 0;
}

.section-title {
  -fx-font-size: 16px;
  -fx-text-fill: #1D1D1F;
}

.device-panel {
  -fx-background-color: #F2F2F7;
  -fx-background-radius: 10px;
  -fx-border-color: #CECECE;
  -fx-border-radius: 10px;
  -fx-padding: 15px;
  -fx-min-width: 250px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 12, 0.2, 0, 2);
}

.group-title {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #6E6E73;
}

.device-item {
  -fx-font-size: 14px;
  -fx-padding: 5px 14px;
  -fx-background-radius: 10px;
  -fx-cursor: hand;
}

.device-item:hover {
  -fx-background-color: #D0E2FF;
}

.device-item-selected {
  -fx-padding: 5px 14px;
  -fx-background-color: #D0E2FF;
  -fx-background-radius: 12px;
}

.device-name, .device-name-selected {
  -fx-font-size: 14px;
  -fx-text-fill: #222;
}

.device-name-selected {
  -fx-font-weight: bold;
}

.sidebar-button {
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 10px;
  -fx-border-color: #D1D1D6;
  -fx-border-radius: 10px;
  -fx-font-size: 20px;
  -fx-padding: 5px 12px;
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 12, 0.2, 0, 2);
}

.action-icon {
  -fx-icon-size: 16px;
  -fx-icon-color: #1D1D1F;
}

.sidebar-button:hover {
  -fx-background-color: #F2F2F7;
}

.main-content-container {
  -fx-background-color: transparent;
  -fx-border-color: #1D1D1F;
  -fx-border-width: 0;
}

.current-target-label {
  -fx-font-size: 16px;
  -fx-text-fill: #1D1D1F;
}

.current-target-label-name {
  -fx-font-size: 16px;
  -fx-text-fill: #1D1D1F;
  -fx-font-weight: bold;
}

.drop-zone {
  -fx-background-color: #FAFAFA;
  -fx-border-color: #A1A1A6;
  -fx-border-style: dashed;
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 6, 0, 0, 2);
  -fx-cursor: hand;
  -fx-min-height: 200px;
}

.drop-zone:hover {
  -fx-background-color: #f2f7ff;
}

.upload-icon {
  -fx-font-size: 40px;
  -fx-text-fill: #444;
}

.drop-zone-text {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: #111;
  -fx-text-alignment: center;
}

/*.transfer-card {
  -fx-background-color: white;
  -fx-background-radius: 16px;
  -fx-padding: 18px;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 10, 0.15, 0, 2);
}

.file-icon {
  -fx-font-size: 50px;
}

.file-name {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #1D1D1F;
}

.file-size {
  -fx-font-size: 14px;
  -fx-text-fill: #3A3A3C;
}

.progress-bar {
  -fx-pref-height: 15px;
}

.progress-bar .track {
  -fx-background-color: #d9d9d9;
  -fx-background-radius: 8px;
}

.progress-bar .bar {
  -fx-background-color: #3498db;
  -fx-background-radius: 8px;
  -fx-pref-width: 100%;
}*/

.file-card {
  -fx-background-color: #ffffff;
  -fx-padding: 20px;
  -fx-spacing: 20px;
  -fx-alignment: center-left;
  -fx-background-radius: 10px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.12), 12, 0.2, 0, 2);
}

.file-icon {
  -fx-font-size: 50px;
}

.file-name {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #1D1D1F;
}

.file-size, .file-speed, .file-time {
  -fx-font-size: 14px;
  -fx-text-fill: #3A3A3C;
}

.svg-icon {
  -fx-fill: #6c757d;
  -fx-scale-x: 1.2;
  -fx-scale-y: 1.2;
}

.action-icon {
  -fx-fill: #6c757d;
  -fx-scale-x: 1.3;
  -fx-scale-y: 1.3;
}

.progress-bar {
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-pref-width: 400px;
}

.progress-bar .bar {
  -fx-background-color: #3498db;
  -fx-background-radius: 10px;
}

.progress-bar-success .bar {
  -fx-background-color: #34C759;
  -fx-background-radius: 10px;
}

.progress-bar-error .bar {
  -fx-background-color: #FF3B30;
  -fx-background-radius: 10px;
}

.card-button {
  -fx-background-color: #e0e0e0;
  -fx-border-color: #D1D1D6;
  -fx-border-radius: 10px;
  -fx-text-fill: #1D1D1F;
  -fx-background-radius: 10px;
  -fx-font-size: 16px;
  -fx-cursor: hand;
  -fx-pref-width: 120px;
  -fx-pref-height: 36px;
}

.card-button:hover {
  -fx-background-color: #d5d5d5;
}

.files-scroll-pane {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-padding: 0;
}

.files-scroll-pane > .viewport {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.files-scroll-pane .scroll-bar:vertical {
  -fx-pref-width: 10px;
}

.files-scroll-pane .thumb {
  -fx-background-radius: 10px;
}

.files-scroll-pane .track {
  -fx-background-radius: 10px;
}

.files-container {
  -fx-background-color: transparent;
  -fx-padding: 8 12 8 12;
}

.files-scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-pref-width: 20px;
  -fx-padding: 2;
}

.files-scroll-pane .scroll-bar:vertical .track {
  -fx-background-color: #bcbdbd;
  -fx-background-radius: 10px;
  -fx-pref-width: 15px;
}

.files-scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-color: #7b8794
;
  -fx-background-radius: 10px;
  -fx-pref-width: 15px;
}

.files-scroll-pane .scroll-bar:vertical .thumb:hover {
  -fx-background-color: #7b8794;
}

.files-scroll-pane .scroll-bar:vertical .thumb:pressed {
  -fx-background-color: #9aa5b1;
}

.files-scroll-pane .increment-button,
.files-scroll-pane .decrement-button {
  -fx-background-color: transparent;
  -fx-padding: 0;
}

.files-scroll-pane .increment-arrow,
.files-scroll-pane .decrement-arrow {
  -fx-background-color: transparent;
  -fx-shape: "";
  -fx-padding: 0;
}