.root {
  -fx-font-family: "Inter", sans-serif !important;
  -fx-background-color: white;
}

.header-container {
  -fx-background-color: #A31D24;
  /*-fx-background-radius: 10px 10px 0 0;*/
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 2);
}

.header-title {
  -fx-text-fill: white;
  -fx-font-size: 24px;
  -fx-font-weight: bold;
}

.header-device-name {
  -fx-text-fill: white;
  -fx-font-size: 24px;
  -fx-font-weight: bold;
}

/*.status-online-dot {
  -fx-text-fill: #34C759;
  -fx-font-size: 18px;
}*/

.status-online-text {
  -fx-text-fill: white;
  -fx-font-size: 16px;
}

/*.status-offline-dot {
  -fx-text-fill: #8E8E93;
  -fx-font-size: 18px;
}*/

.status-dot-user {
  -fx-min-width: 12px;
  -fx-min-height: 12px;
  -fx-max-width: 12px;
  -fx-max-height: 12px;
  -fx-pref-width: 12px;
  -fx-pref-height: 12px;

  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
}

.status-dot-device {
  -fx-min-width: 16px;
  -fx-min-height: 16px;
  -fx-max-width: 16px;
  -fx-max-height: 16px;
  -fx-pref-width: 16px;
  -fx-pref-height: 16px;

  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
}

.status-online {
  -fx-background-color: #34C759;
}

.status-offline {
  -fx-background-color: #8E8E93;
}

.sidebar-container {
  -fx-border-width: 0;
}

.section-title {
  -fx-font-size: 16px;
  -fx-text-fill: #1D1D1F;
}

.device-panel {
  -fx-background-color: #F2F2F7;
  -fx-background-radius: 10px;
  -fx-border-color: #CECECE;
  -fx-border-radius: 10px;
  -fx-padding: 15px;
  -fx-min-width: 250px;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 12, 0.2, 0, 2);
}

.group-title {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #6E6E73;
}

.device-item {
  -fx-font-size: 14px;
  -fx-padding: 5px 14px;
  -fx-background-radius: 10px;
  -fx-cursor: hand;
}

.device-item:hover {
  -fx-background-color: #D0E2FF;
}

.device-item-selected {
  -fx-padding: 5px 14px;
  -fx-background-color: #D0E2FF;
  -fx-background-radius: 12px;
}

.device-name, .device-name-selected {
  -fx-font-size: 14px;
  -fx-text-fill: #222;
}

.device-name-selected {
  -fx-font-weight: bold;
}

.sidebar-button {
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 10px;
  -fx-border-color: #D1D1D6;
  -fx-border-radius: 10px;
  -fx-font-size: 20px;
  -fx-padding: 5px 12px;
  -fx-cursor: hand;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 12, 0.2, 0, 2);
}

.action-icon {
  -fx-icon-size: 16px;
  -fx-icon-color: #1D1D1F;
}

.sidebar-button:hover {
  -fx-background-color: #F2F2F7;
}

.main-content-container {
  -fx-background-color: transparent;
  -fx-border-color: #1D1D1F;
  -fx-border-width: 0;
}

.current-target-label {
  -fx-font-size: 16px;
  -fx-text-fill: #1D1D1F;
}

.current-target-label-name {
  -fx-font-size: 16px;
  -fx-text-fill: #1D1D1F;
  -fx-font-weight: bold;
}